<div class="container">
  <div class="row">
    
    <h1><%= @product.new_record? ? "Nuevo" : "Editar" %> Producto</h1>
    
    <%= form_for @product do |f| %>
      <div class="form-group">
        <% if @product.new_record? %>
          <%= f.text_field :name, placeholder: "Nombre del producto", class: 'form-control' %>
        <% else %>
          <%= f.text_field :name, value: @product.name, class: 'form-control' %>
        <% end %>
      </div>
      <div class="form-group">
        <% if @product.new_record? %>
          <%= f.number_field :price, class: :text_field, step: :any, placeholder: "Precio del producto", class: 'form-control' %>
        <% else %>
          <%= f.number_field :price, class: :text_field, step: :any, value: @product.price, class: 'form-control' %>
        <% end %>
      </div>
      <% @categories.each do |category| %>
        <div class="form-group">
          <%= check_box_tag "product[category_ids][]", category.id, @product.categories.include?(category) %>
          <%= category.name %>
        </div>
      <% end %>
      
      <div class="action">
        <%= f.submit @product.new_record? ? "Create Product" : "Update Product" %>
      </div>
    <% end %>

  </div>
</div>