<div class="container">
  <h1>Products</h1>
  <%= link_to('Nuevo producto', new_product_path, class: "btn btn-primary pull-right") %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Categorías</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td>$ <%= product.price %></td>
            <td>
              <% product.categories.each do |category| %>
                <%= category.name %>
              <% end %>
            </td>
            <td><%= link_to('Editar', edit_product_path(product)) %></td>
            <td><%= link_to 'Eliminar', product_path(product), method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>